/*
=== Frontend ===
*/

/*
=== Geral ===
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}


body {
    background: #2E2F31;
    color: #ffffff;
}


.img-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.my-container {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 0;
}

.my-navbar{
    background-color: #3D77DF;
} 

.navbar-brand{
    color: #ffffff !important;
}

.navbar-brand:hover{
    background-color: rgb(91, 137, 223) !important;
}

#navbar-img{
    margin-right:15px;
    display: inline;
}

.navbar-a{
    color: #ffffff !important;
}

.navbar-item:hover{
    background-color: rgb(91, 137, 223);
}

.vertical-middle{
    vertical-align: middle !important;
}

.text-consulta{
    color: #737373;
    font-size:14px;
}

.border-consulta{
    border: 1px solid #595959;
     padding:20px;
     border-radius:6px;
     margin-bottom:20px;
}


/*BOTOES */

.btn-azul {
    background-color: #3D77DF;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid white;
}

.btn-azul:hover {
    background: #2e58a3;
    color: #ffffff;
}

.btn-vermelho {
    background: #df3737;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ffffff;
    margin-left: 10px;
}

.btn-vermelho:hover {
    background: #912222;
    color: #ffffff;
}



.btn-clube:hover {
    transform: scale(1.05);
}


.btn-verde {
    background-color: #36C60B;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ffffff;
}

.btn-verde:hover {
    background: rgb(39, 139, 8);
    color: #ffffff;
}

table tr td .btn-venda-ver-detalhes{
    text-decoration: underline;
}

.btn-venda-ver-detalhes:hover{
    color: #ffffff;
    text-decoration: underline;
}

.btn-cancelar-inscricao{
    color: #df3737;
}

.btn-cancelar-inscricao:hover{
    color: #df3737;
    text-decoration: underline;
}



/*
* === Login ===
*/


.btn-login{
    background: #2E2F31;
    border-radius: 6px;
    float: right;
    border: 1px solid #ffffff;
}

.caixa-login{
    width:40%;
    padding:20px; 
    margin: 50px auto;
    background: #3D77DF;
    border-radius: 6px;
    border: 1px solid #ffffff;
    
}



/*
=== Home ===
*/

.hr {
    margin-top: 0px;
}

/* HOME */

.homepage-img {
    padding-top: 150px;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/homepageimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homepage-img h1 {
    font-size: 55px;
    letter-spacing: 3px;
    font-weight: 600;
}

.homepage-img h3 {
    padding: 10px;
    width: fit-content;
    margin: auto;
}

.home-form {
    padding-top: 30px;
    margin: auto;
    width: 550px;
}

.btn-submeter{
    color: #ffffff;
    height: 40px;
    background-color:rgba(61, 119, 223, 0.7);
    border: 1px solid #3D77DF;
    border-radius: 6px;
    float: right;
    transition: 0.5s;
    padding-bottom: 30px;
}

.btn-submeter:hover{
    color: #fff;
    background: #3D77DF;
    border: 1px solid #fff;
}

.btn-clube {
    width: 100%;
    padding-top: 65px;
    height: 100%;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.2s;
}

.btn-clube:hover{
    color: #ffffff;
}




/*
* === Loja ===
*/


.img-produto {
    display: inline-block;
    transition: transform .6s;
}

.carrinho-img{
    margin-bottom: 20px;
}

.carrinho-valor{
    font-size:24px;
}


.loja-caixa-nome-preco{
    border:1px solid white;
    color:black;
    background:#f6f6f6;
    border-radius:6px;
    padding:8px;
}

.preco-produto{
    font-weight:bold;
    font-size:22px;
}

.img-produto:hover {
    transform: scale(1.2);
  }

.btn-adicionar-carrinho{
    margin-top: 8px;
    font-size:12px; 
    margin-bottom:10px;
    text-align:center;
    border-radius:6px;
    background:#3D77DF;
    color: #ffffff;
    transition: transform .6s;
}

.btn-adicionar-carrinho:hover{
    transform: scale(1.1);
    color: #ffffff;
}

.img-carro{
    margin-left: 5px;
}

.loja-btn-voltar{
    float: right;
}

.view-produto-nome{
    font-weight:bold;
    font-size:28px;
}

.view-produto-descricao{
    margin-top:20px;
}

.view-produto-preco{
    font-weight:bold;
    font-size:28px;
    margin-top:20px;
}

.carrinho-container{
    width:90%;
    margin:auto;
}

.carrinho-subtotal{
    float:right;
    padding-right:16px;
}

.carrinho-menos{
    margin-left:10px;
}

.carrinho-mais{
    margin-right:10px;
}

.btn-finalizar-venda{
    color:white;
    background:#28d133;
    border:1px solid #ffffff;
}

.btn-finalizar-venda:hover{
    color:white;
    background:#1c9c25;
}

.carrinho-total{
    float:right;
}


.carrinho-valor-total{
    float:right;
    font-size: 18px;
}




/*
* === Clubes ===
*/

.clubes-img {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../imgs/clubesimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ginasio-container {
    padding-top: 80px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.clubes {
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    transition: transform .2s;
}

.clubes:hover {
    transform: scale(1.1);
}

.clubes-localidade{
    text-transform: uppercase;
    font-weight:bold;
    font-size:20px;
}

.clubes-dados{
    font-size:16px;
}

.back-image{
    background:url("../imgs/clubesimg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 360px;
    height: 200px;
    border-radius: 6px;
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
    transition: 0.2s;
}

.overlay{
    transition: 0.2s;
    width:100%; 
    height:100%;
    border-radius: 6px;
    font-weight: bold;
    font-size: 40px;
}

.overlay:hover{
    border: 1px solid #fff;
    background-color:rgba(61, 119, 223, 0.3);
}


/*
* === Sobre Nós ===
*/

.sobre-nos-img {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../imgs/sobrenosimg.png");
    background-repeat: no-repeat;
    background-position: top;
}

.sobre-nos {
    padding-top: 80px;
    text-align: center;
}


/*
* === Meus Planos ===
*/

.mostrar-planos {
    text-align: center;
    color: black;
    background: #f6f6f6;
    border-radius: 12px;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 20px 0;
    transition: transform .2s;
}

.planos-textarea {
    width: 100%;
    resize: none;
    background: #f6f6f6;
    color: #000000;
    margin: 20px 0;
    padding: 8px;
    height: 400px;
    border-radius: 6px;
    overflow-y: auto;
}

.mostrar-planos:hover{
    transform: scale(1.05);
}

.mostrar-planos-a:hover{
    text-decoration: none;
}

.meus-planos-caixa-pesquisa{
    float:right;
    margin-bottom: 30px;
}

.hr-meus-planos-ver{
    margin-bottom: 0;
}

.btn-eliminar-plano{
    float:right;
    margin-right:10px;
    transition: transform .2s;
}


.btn-eliminar-plano:hover{
    transform: scale(1.1);
}



/*
* === Minhas Aulas ===
*/


.table tr:nth-child(even) {
    background-color: #595959;
}

.table tr:nth-child(odd) {
    background-color: #2E2F31;;
}

#table-aulas {
    text-align: center;
}

.mostrar-aulas {
    border: 1px solid #ddd;
    background: url("/imgs/sobrenosimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    border-radius: 6px;
    font-size: 26px;
    padding: 0 20px;
    height: 200px;
    margin-bottom: 40px;
    transition: transform .2s;
    display:flex;
    align-items:center;
    justify-content: center;
}

.mostrar-aulas:hover{
    transform: scale(1.1);
}



/*
* === Minhas Compras ===
*/

.minhas-compras-caixa-pesquisa{
    float:right;
    margin-bottom: 30px;
}


/*
* === Definições ===
*/

.perfil-container.container {
    width: 100%;
    height: 100%;
    font-size: 30px;
    letter-spacing: 1px;
}

.col span {
    font-weight: bold;
}

.vendas-container {
    margin-top: 120px;
    width: 100%;
    height: 100%;
    text-align: center;
    letter-spacing: 3px;
}

.table-container.container {
    width: 100%;
    height: 100%;
    font-size: 20px;
    letter-spacing: 1px;
}



