body{
    background: #2E2F31;
    color: #ffffff;
}

.btn-criarPlano{
    background: #3D77DF;
    color: #ffffff;
    margin-left: 10px;
    border-radius: 0;
}

.btn-procurar, .btn-editar, .btn-guardar{
    background: #3D77DF;
    color: #ffffff;
    border-radius: 0;
}

.btn-procurar:hover, .btn-criarPlano:hover, .btn-editar:hover, .btn-guardar:hover{
    background: #2e58a3;
    color: #ffffff;
}

.btn-eliminar{
    background: #d13434;
    color: #ffffff;
    border-radius: 0;
}

.btn-eliminar:hover{
    background: #cf2525;
    color: #ffffff;
}

.btn-acao{
    font-size: 14px;
    color: #ffffff;
    text-decoration: underline;
}

.btn-acao:hover{
    color: #3D77DF;
    text-decoration: underline;
}

.form-pesquisa, .form-criar, .form-login{
    border-radius: 0;
}

.caixa-descricao{
    background: #595959; 
    color: #ffffff;
    margin: 20px 0; 
    padding: 8px;
    height:400px;
}



.table tr:nth-child(even) {
    background-color: #595959;
}

.btn-login{
    background: #2E2F31;
    border-radius: 0;
    float: right;
}

.caixa-login{
    width:40%;
    padding:20px; 
    margin: 50px auto;
    background: #3D77DF;
}

.table tr .td-acao{
    text-align: center;
    vertical-align: middle;
}

#home-seccao-ginasios{
    text-align: center;
}

#home-seccao-ginasios .btn-home-ginasios{
    width: 200px;
    background-color: #3D77DF;
    color: #ffffff;
    border-radius: 0;
    margin: 10px;
    font-size: 18px;
    ;
}

.btn-ver-venda{
    border-radius: 0;
    background-color: #3D77DF;
    color: #ffffff;
    margin: auto  !important;
}

.btn-home-ginasios:hover{
    background: #ffffff;
    color: #ffffff;
}

.btn-ver-venda:hover, .btn-home-ginasios:hover{
    background: #2e58a3;
    color: #ffffff;
}

.venda-caixa-comprador{
    border: 1px solid #b9b9b9;
    padding: 10px;
}





